*{
    margin: 0;
    padding: 0;
    font-family: 'Libre Baskerville', serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: url(im.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.form-box{
    width: 90%;
    max-width: 450px;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    padding:50px 60px 70px;
    text-align: center;
}
.form-box h1{
    font-size: 50px;
    margin-bottom: 30px;
    color: darkblue;
    position: relative;
}
.form-box h3{
    font-size: 20px;
    margin-bottom: 0px;
    color: darkblue;
    position: relative;
    text-align: left;
}

.input-field{
    background: rgb(213, 223, 227);
    margin: 15px 0;
    border-radius: 3px;
    display: flex;
    align-items: center;
    max-height: 65px;
    transition: max-height 0.5s;
    overflow: hidden;
}
input{
    width: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}
.input-field i{
    margin-left: 15px;
    color: #999;

}
 .gender-input{
    width: 10px;
    height:10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-left: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    outline: none;
}
 input[type=radio]#pink{
    accent-color: rgb(218, 53, 158);
}
 input[type=radio]#blue{
    accent-color: blue;
}
input[type=radio]#green{
    accent-color: rgb(63, 97, 98);
}
form p{
    text-align: left;
    font-size: 18px;
}
form p a{
    text-decoration: none;
    color: darkblue;    

}
.btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-field button{
    
    margin: 10px 0;
    flex-basis: 48%;
    background: darkblue;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.btn-field button.disable{
    background:  rgb(213, 223, 227);
    color: #555;
}

.input-row{
    margin-bottom: 1px;
}
.input-row label{
    display: block;
    margin-bottom: 3px;
}
.input-row input[type="submit"]{

    padding: 10px;
    border: 0;
    border-radius: 3px;
    outline: 0;
    margin-bottom: 3px;
    font-size: 18px;
    font-family: 'Libre Baskerville', serif;
    width: 100px;
    display: block;
    margin: 0 auto;
    text-align: center;
    color: rgb(51, 16, 128);
    cursor: pointer;
    background:rgb(143, 149, 235) ;

}





